/* reset code  */
body, h1,h2,h3,h4,h5,h6, ul, li {
    padding: 0px;
    margin: 0px;
}


    /* thuoc tinh dung chung  */
.bg-main {
        background: linear-gradient(75deg, #4f1bc5, #7b17c5) !important;
}

.box {
    padding: 0px 15px;
}

        /* xac dinh class de su dung  */
        /* desktop  */

@media screen and (min-width :768px) {
    .w25 {width: 25%;}
    .w33 {width: 33%;}
    .w40 {width: 40%;}
    .w50 {width: 50%;}
    .w60 {width: 60%;}
    .container {width: 1200px;margin: 0 auto;}
    .left {float: left;}
    .right {float: right;}
    .clear {clear: both;}
}
#logo img {
    margin: 15px;
    width: 150px;
}
.nav ul li {
    list-style: none;
    float: left;
    padding: 10px 15px;
}
/* .nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 500px;
    margin-left: -17px;
} */
.nav ul {
    margin-top: 15px;
}
.nav ul li a:hover {
    color: black;
}
.slider-content-text {
    padding-top: 150px;
    color: white;
}
.slider-content-text .title {
    font-size: 30px;
}
.slider-content-text p {
    font-size: 20px;
}
.slider-content-text .download {
    background-color: blueviolet;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    padding: 15px 20px;
    border-width: 1px;
}
.slider-content-text .watchnow {
    border-radius: 15px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border-width: 1px;
    background-color: transparent;
    border: 0px;
    margin-left: -72px;
}
.text {
    padding: 20px;
}
#slider .container {
    background-image: url(images/hero-bottom-shape-2.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
}
#news1 {
    padding-top: 30px;
}
#news1 .box-content {    
    box-shadow: 1px 2px 7px rgb(58, 54, 54);
    border-radius: 15px;
    padding: 15px;
}
#news1 .box {
    padding: 15px;
    font-size: 20px;
    margin-top: 76px;
}
#news1 .box-content:hover {
    background-color: #4f1bc5;
    color: white;
    margin-top: -10px;
}
#news1 .fa-solid, .fas {
    font-size: 38px;
    color:black;
}
#news2 {
    margin-top: 150px;
}
#news2 .box-shadow {
    box-shadow: -1px 0px 0px rgb(58, 54, 54);
}
#news2 .box {
    margin-bottom: 20px;
}
#news2 .container {
    margin-bottom: 20px;
}
#news2 .w50 {
    margin-bottom: 20px;
}
.img {
    padding-left: 168px;
}
#news2 .box {
    
}
img.imgs {
    width: 90%;
}
p h1 {
    margin: 0px;
    padding: 0px;
}
h1.title {
    margin-top: 139px;
}
.title12 {
    margin-top: 100px;
    font-size: 40px;
}
.nav>li{
    float: left;
    margin-right: 15px;
  }
  
  .nav>li>a{
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav li{
    position: relative;
    list-style:none;
  }
  
  .nav li a{
    padding: 10px;
    line-height: 20px;
    display: inline-block;
  }
  
  .nav .sub-menu{
    display: none;
    position: absolute;
    top: -3px;
    left: 147%;
    width: 133px;
    background: rgb(14,174,231);
    background: radial-gradient(circle, rgba(14,174,231,0.8823178929775035) 0%, rgba(233,148,227,0.9159313383556548) 100%);    padding: 5px 20px;
  }
  
  .nav li:hover>.sub-menu{
    display: block;
  }
  
  .nav>li>.sub-menu{
    top: 29px;
    left: -16px;
  }
.box-content .box-bottom  button{
    padding: 14px;
    padding-left: 20px;
    font-size: 10px;
    margin-left: 20px;
    background-color: violet;
    border-radius: 10px;
    margin-top: 16px;
}
.box-img img {
    width: 100%;
}
.icon-11 {
    font-size: 50px;
    
}
p.text-text {
    text-align: center;
    margin-bottom: 74px;
}
#news2 {
    background-image: url(images/about-bg-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.title123 {
    margin-top: 115px;
    text-align: center;
    font-size: 40px;
}
 /* #ourprocess  */
 .our-process {
    margin-top: 50px;
    padding-top: 50px;
 }
 .text-center {
    text-align: center;
 }
 #our-process .title2 {
    font-size: 40px;
    margin-top: 97px
 }
 .our-process-text {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 30px;
 }
 #our-process {
    background-color: white;
 }
 .img-our-process img {
    width: 100%;
 }
 .icon-our-process {
    width: 25%;
 }
.content-our-process {
    width: 75%;
}
.icon-our-process div {
    background-color: aqua;
    text-align: center;
    border-radius: 50%;
    /* padding: 10px; */
    width: 96px;
    height: 95px;
}
.icon-our-process div .fa-solid {
    font-size: 61px;
    color: #7b17c5;
    margin-top: 22px;
}

.box-content-text {
    margin-left: 66px;
    margin-bottom: 85px;
    font-size: 21px;
}
.bottom-our-process {
    margin-bottom: 50px;
    padding: 50px;
}
.text-right {
    text-align: right;
}
.text-our-process {
   margin-right: 20px;
}
.img-our-process {
    margin-top: 60px;
}
.icon-project div .fa-solid {
    font-size: 50px;
    color: rebeccapurple;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    min-width: 80px;

}
.img33 img {
    width: 100%;
    margin-top: -28px;
}
.box-title {
    padding-bottom: 68px;
}
#slider11 {
    margin-top: 50px;
}
.box-container {
    margin-top: 50px;
}
.box-contenter {
    margin-top: 54px;
    padding: 80px;
}
.box-content123 .fas {
    font-size: 50px;
}
i.fa-solid.fa-people-line {
    font-size: 70px;
    text-align: center;
    color: white;
    margin-left: 10px;
}
.textter {
    font-size: 40px;
    color: white;
}
.tex-text1 {
    font-size: 20px;
    margin-left: 9px;
    color: white;
}
#news6 {
    background-color: #4f1bc5;
    width: 100%;
    min-height: 300px;
}
#news6 .icon-text {
    font-size: 50px;
    margin-top: 97px;
    margin-left: 56px;
    color: white;
}
#news6 .title {
    font-size: 30px;
    color: white;
    margin-left: 52px;
    margin-top: -46px;
}
#news6 .customer {
    font-size: 20px;
    font-size: 20px;
    margin-left: 45px;
    margin-top: 4px;
    color: white;
}
#our-price .title {
    font-size: 50px;
    margin-top: 100px;
}
.our-price-text {
    font-size: 20px;
    margin: 0 auto;
    line-height: 30px;
    max-width: 700px;
}
.bottom-our-price {
    padding-top: 20px;
    text-align: center;
}
.monthly {
    background-color: #4f1bc5;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
}
.yearly {
    border-radius: 20px;
    padding: 5px 10px;
    color:#4f1bc5;
}
#our-price .box-content123 {
    box-shadow: 0px -4px 6px rgb(58, 54, 54);
    border-radius: 15px;
    padding: 15px;
    height: 600px;
    text-align: center;
    margin-top: 44px;
}
.box-content123 .money {
    /* margin-top: 24px; */
    margin-left: 16px;
    font-size: 40px;
    color: #7b17c5;
}
#our-price .our-price-text {
    line-height: 40px;
    margin-top: 20px;
}
.our-price-title {
    font-size: 23px;
    margin-top: 37px;
}
#our-price .box-content123:hover {
    margin-top: 20px;
}
.our-bottom .puchrase-now {
    padding: 10px 16px;
    margin-top: 30px;
    border-radius: 16px;
    border-color: #7b17c5;
    color: #7b17c5;
}
.puchrase-now:hover {
    background-color:#7b17c5;
    color: white;
}
.listen {
    margin-top: 50px;
}
#our-team .box-content {
    text-align: center;
    margin: 0 auto;
}
#our-team .title {
    font-size: 40px;
    margin-top: 136px;
}
.author-text {
    font-size: 20px;
    line-height: 30px;
}
#our-team .team-content {
    border: 2px solid black;
    width: 250px;
    height: 404px;
    text-align: center;
}
#our-team .img-team {
    padding: 40px;
}
.team-title {
    margin-top: -10px;
    font-size: 20px;
}
#our-team .icon {
    margin-left: 67px;
    margin-top: -8px;
}
.icon-team {
    padding: 6px;
    color: #00e1e3;
}
div#our-team {
    margin-bottom: 242px;
}
form {
    text-align: center;
    margin-top: 69px;
}
#top-footer {
    background: linear-gradient(75deg, #4f1bc5, #7b17c5) !important;
}

.newletter {
    background: #6730e3 !important;
    border-radius: 15px;
    margin-top: -50px;
    position: relative;
    top: -50px;
    color: white;
}
.newletter .box {
    padding: 20px 50px;
}
.footer-content, .footer-content a{
    color: white;
}
.newletter form {
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 34px;
    margin-left: 185px
}
.newletter form input {
    width: 250px;
    border: 0px;
}
button.footer-bottom {
    background-color:#4f1bc5;
    border-radius: 10px;
    font-size: 18px;
    color: white;
}
.text-footer {
    font-size: 15px;
    line-height: 20px;
}
.widget {
    padding: 5px;
}
.widget ul li {
    list-style: none;
    line-height: 30px;
    margin-top: 3px;
}
.widget ul li a {
    text-decoration: none;
}
.widget ul li a:hover {
    color: burlywood;
}
.icon-footer {
    font-size: 23px;
    margin-left: 40px;
}
.icon-footer a {
    text-decoration: none;
}
